<!doctype html>
<html ng-app="scotchTodo">
<head>
  <meta charset = "utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Node / Angular Todo App</title>

  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
    <style>
      html {
        overflow-y: scroll;
      }
      body {
        padding-top: 50px;
      }
      #todo-list {
        margin-bottom: 30px;
      }
    </style>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.4/angular.min.js"></script>
  <script src="js/angular-ui-router.min.js"></script>
  <script src="js/controllers/main.js"></script>
  <script src="js/controllers/access.js"></script><!--load our access service -->
  <script src="js/services/todos.js"></script> <!-- load our todo service -->
  <script src="js/core.js"></script> <!-- load our main application -->
  <script src="js/services/stormpath-sdk-angularjs.min.js"></script>
  <script src="js/services/stormpath-sdk-angularjs.tpls.min.js"></script>

</head>

<body ng-controller="mainController">
  <li if-user-in-group="DriveBar">Hi {{ user.fullName }}!</li>
  <div class="container">

    <!--Header and todo count -->
    <div class="jumbotron text-center">
      <h1>Tasks to Complete: <span class="label label-info">{{ todos.length }}</span></h1>
    </div>

    <!-- Todo list -->
    <div id="todo-list" class="row">
      <div class="col-sm-4 col-sm-offset-4">

        <!-- Loop over the todos in $scope.todos -->
        <div class="checkbox" ng-repeat="todo in todos">
          <label>
            <input type="checkbox" ng-click="deleteTodo(todo._id)"> {{ todo.text }}
          </label>
        </div>
      </div>
    </div>

    <!-- Form to create todos -->
    <div id="todo-form" class="row">
      <div class="col-sm-8 col-sm-offset-2 text-center">
        <form>
          <div class="form-group">

            <!-- Bind this value to formData.text in Angular -->
            <input type="text" class="form-control input-lg text-center" placeholder="I want to buy a puppy that will love me forever" ng-model="formData.text">
          </div>

          <!-- createTodo() will create new todos -->
          <button type="submit" class="btn btn-primary btn-lg" ng-click="createTodo()">Add</button>
        </form>
      </div>
    </div>
  <!-- Logout section for Stormpath logout -->
  <form action="/logout" method="post">
    <input type="submit" value="Logout">
  </form>

</div>

</body>
</html>
